.header-style{
    padding: 20px;
    text-align: center;
    color: aliceblue;
    font-family: "Lucida Handwriting", cursive;
    font-weight: bold;
    font-size: 2.4rem;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* border-radius: 10px; */
    margin: 0;
}
