.lanyard-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  transform: scale(1);
  transform-origin: center;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}